<!DOCTYPE html>
<html>
<head>
    <title>NoahScope Feeds</title>
</head>
<body>
<p>Hi, {{ user.user.first_name }} {{ user.user.last_name }}, Welcome to NoahBase!</p>
Latest Feeds:<br>
<ul>
    {% for key,value in FollowingDict.items %}
         {{ key }}-name:{{ value.last_name }}-{{ value.first_name }}:<br>
         {% for k,v in CardsDict.items%}
             {% ifequal key k %}
                {% for card in v %}
                   title: {{ card.title }}--Contents:{{ card.contents }}
                   <br>
                 {% endfor %}
             {% endifequal %}
         {% endfor %}
    {% endfor %}
</ul>
</body>
</html>