<!DOCTYPE html>
<html>
<head>
    <title>Welcome to NoahScope!</title>
</head>

<body>
    <div align = "center">Welcome to NoahScope</div>
    <form action = "{% url 'nb_webapp:login' %}" method = "post">
        {% csrf_token %}
        <p>Email Address: <input type="text" name="account_email"/></p>
        <p>Password: <input type = "password" name="password"/></p>
        <input type="submit" name="login" value = "Login"/>
    </form>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    {% if success_message %}<p><strong>{{ success_message }}</strong></p>{% endif %}
    <a href="{% url 'nb_webapp:page_signup' %}">Sign up!</a>
</body>
</html>